:root {
  --color-primary: #007bff;
  --color-primary-hover: #0056b3;

  --color-background-body: #f4f4f4;
  --color-background-container: #ffffff;

  --color-text-paragraph: #666;

  --color-error: #dc3545;
  --color-neutral-border: #ddd;
}

body {
  background-color: var(--color-background-body);
}

.container {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-section {
  background-color: var(--color-background-container);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-neutral-border);
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input,
select {
  padding: 8px 12px;
  border: 1px solid var(--color-neutral-border);
  border-radius: 4px;
  font-size: 14px;
}

input.error,
select.error {
  border-color: var(--color-error);
}

.error-message {
  color: var(--color-error);
  font-size: 12px;
  margin-top: 4px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-background-container);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.submit-button:hover {
  background-color: var(--color-primary-hover);
}

.cars-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.car-card {
  background-color: var(--color-background-container);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-neutral-border);
  position: relative;
}

.car-card h3 {
  overflow: hidden;
  margin-right: 1.5rem;
}

.expiring-soon {
  border: 1px solid var(--color-error);
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text-paragraph);
}

h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  margin: 5px 0;
  color: var(--color-text-paragraph);
}
